<h1>Angular component testing</h1>

<h2>Status label</h2>

<table class="status-label-table">
  <tr>
    <th colspan="6" class="status-label-heading">Regular</th>
  </tr>
  <tr>
    <th>Success</th>
    <th>Alert</th>
    <th>Warning</th>
    <th>Neutral</th>
    <th>Default</th>
    <th>Custom</th>
  </tr>
  <tr>
    <td><tivi-status-label>Completed</tivi-status-label></td>
    <td><tivi-status-label variation="alert">Cancelled</tivi-status-label></td>
    <td><tivi-status-label variation="warning">Pending</tivi-status-label></td>
    <td><tivi-status-label variation="neutral">Work in progress</tivi-status-label></td>
    <td><tivi-status-label variation="default">On hold</tivi-status-label></td>
    <td><tivi-status-label class="status-label-custom">Custom styling</tivi-status-label></td>
  </tr>
</table>

<table class="status-label-table">
  <tr>
    <th colspan="6" class="status-label-heading">Subtle</th>
  </tr>
  <tr>
    <th>Success</th>
    <th>Alert</th>
    <th>Warning</th>
    <th>Neutral</th>
    <th>Default</th>
    <th>Custom</th>
  </tr>
  <tr>
    <td><tivi-status-label subtle>Completed</tivi-status-label></td>
    <td><tivi-status-label variation="alert" subtle>Cancelled</tivi-status-label></td>
    <td><tivi-status-label variation="warning" subtle>Pending</tivi-status-label></td>
    <td><tivi-status-label variation="neutral" subtle>Work in progress</tivi-status-label></td>
    <td><tivi-status-label variation="default" subtle>On hold</tivi-status-label></td>
    <td><tivi-status-label class="status-label-custom-subtle" subtle>Custom styling</tivi-status-label></td>
  </tr>
</table>

ICON: <tivi-icon icon="angle-left"></tivi-icon>

